body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.upgradeChiCost,
.upgradeLevelUpButton {
  display: inline-block;
}

.upgradeBox,
.disabledUpgradeBox {
  display: block;
  width: 160px;
  height: 110px;
  background-color: lightpink;
  border: 2px solid black;
}

.disabledUpgradeBox {
  opacity: 0.25;
  text-align: center;
}

.upgradeInfoRow {
  display: block;
  height: 20px;
}

.upgradeName {
  display: block;
  float: left;
}

.upgradeLevel {
  display: block;
  margin-right: 1px;
  float: right;
}

.upgradeBar {
  display: inline-block;
  top: 40px;
  left: 5px;
  width: 160px;
  height: 20px;
}

.upgradeLevelUpButton {
  margin-left: 3px;
  color: black;
}

.disabledUpgradeLevelUpButton {
  margin-left: 3px;
  color: lightgrey;
}
