body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gameDisplay {
  position: absolute;
  width: 750px;
  height: 750px;
}

.chiDisplay {
  position: fixed;
  left: 50%;
  top: 600px;
  text-align: center;
}

.featureMenu {
  position: absolute;
  width: 150px;
  height: 600px;
  background-color: lightgray;
}

.menuButton {
  color: black;
  width: 140px;
  align-items: center;
}

.disabledMenuButton {
  color: lightslategray;
  left: 5px;
  width: 140px;
}

.mainArea {
  position: absolute;
  left: 150px;
  width: 600px;
  height: 600px;
  background-color: lightgreen;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
